@(title: String, solutions: List[core.Solver.Path])
@import core.Solver

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        <ul>
        @for(solution <- solutions){
        	<li>@solution
        	</li>
        }
        </ul>
    </body>
</html>
